*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F0ECE3;
    --footer-color: #DFD3C3;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}

/* Barra de navegacion */

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    font-size: 20px;
    color: #A68DAD;
    transition: all .5s ease-in-out;
}

.navbar-nav a{
    margin: 5px;
    padding: 5px;
    border-right: rgba(65, 65, 65, 0.667) 2px dashed;
    border-left: rgba(65, 65, 65, 0.667) 2px dashed;
}

/* Fin de barra de navegacion */

/*  Index  */

.texto {
    margin: 15px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
} 

.container img {
    width: 100%;
    height: 300px;
}

/* Fin Index */

.carousel-control-next-icon {
    background-color: transparent;
}

.carousel-control-prev-icon {
    background-color: transparent;
}

.fa-whatsapp {
    font-size: 60px;
    color: white;
}

.fixed {
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 1;
    background-color: #25D366;
    padding: 15px;
    border-radius: 50%;
}



@media only screen and (max-width : 750px) {
    .navbar-brand {
        margin-left: 5rem;
        margin-right: 0;
    }
    
    .card-body {
        overflow: auto;
    }

    .container img {
        width: 100%;
        height: 150px;
    }

}